[2015-03-16 08:11] ace-han opened #4 "Histories will get flushed and keep the last triggered build info after jenkins instance restart"
in job > build > histories, build info should be persistent to build.xml for later reference

[2015-03-16 12:10] ace-han opened #5 "NullPointerException for scheduled execution"
When you configure scheduled execution, on build perform method you take a NullPointerException.
The cause was on PerformExecutor#prepareExecutionPlan trying to call "parameter.getValue();", but there wasn't a value for CoordinatorParameterValue.PARAM_KEY.
To fix this problem, I implemented the defaultExecutionPlan, then everytime that someone schedule a execution of a coordinator job, it use the

[2015-03-17 06:02] ace-han commented on #4
I've done some digging.

It's because that we re-initialize the already unmarshaled `oldActions` in `hudson.model.Run#reload` from `CoordinatorBuild`'s default constructor

`oldActions` is already persistent in the build.xml, we just need to remove the default ArrayList initializer.

Hierarchy `CoordinatorBuild -> Build -> AbstractBuild -> Run#reload()#getDataFile().unmarshal(this)`

[2015-03-17 06:03] #4 closed

[2015-03-18 01:58] ace-han commented on #5
@rodrigozrusso I've taken a close look that the relationship for `projec-builder-build` in this plugin is `1-1-n`, which means that the singleton you mentioned in #3 is accomplished by the `builder.getExecutionPlan().clone(true)` in `CoordinatorProject#newBuild()`.

Every `build` got its own "namespace" with a unique `orginalExecutionPlan` that won't pollute others'.

So what we to do is just fixi

[2015-03-18 15:55] ace-han commented on #5
@rodrigozrusso I've found out how it triggers a scheduled job. In `AbstractProject#scheduleBuild`.

I believed this is the place to avoid this NPE, don't you think?

[2015-03-18 16:00] #5 closed

[2015-03-19 02:18] ace-han opened #6 "Responsive display on jstree tablization"
It displays as a mess on some smaller screen. We should make it responsive instead

![image](https://cloud.githubusercontent.com/assets/1177332/6723311/14207a62-ce21-11e4-93d2-5f069d9c4e6e.png)

[2015-03-19 15:25] rodrigozrusso commented on #5
@ace-han yes! nice solution.

[2015-03-20 02:20] ace-han opened #7 "Add doc for this plugin in README.md"
It's time to add some doc, wiki for this plugin

[2015-03-20 02:27] samhe opened #8 "Use matrix dashboard for task control and monitoring"
Can change the dashboard style to matrix for task control and monitoring ? pls consider it.

[2015-03-23 01:53] ace-han commented on #8
@samhe, could you be more specific? Since this plugin is now somehow displaying more like a matrix now, thx

![image](https://cloud.githubusercontent.com/assets/1177332/6772854/5f7a9a8c-d142-11e4-9ef6-56fcc2319222.png)

[2015-03-24 09:43] ace-han commented on #6
I'm gonna give `min-width` a try.

I will raise an issue targeting in next release about sth like `columns display toggler` for those screens which are extremely small, like what [jQuery Mobile Column Toggler](http://demos.jquerymobile.com/1.4.5/table-column-toggle/) does

[2015-03-24 10:10] ace-han opened #9 "Column Toggler On Tablized jstree For Build Execution Plan Panel"
As mentioned in #6 , Build Execution Plan Panel is a mess on those screens which are extremely small.

We should implement sth like [jQuery Mobile Column Toggler](http://demos.jquerymobile.com/1.4.5/table-column-toggle/)

*Current*
![Mess Look](https://cloud.githubusercontent.com/assets/1177332/6723311/14207a62-ce21-11e4-93d2-5f069d9c4e6e.png)

*Expect*
![image](https://cloud.githubusercontent.com

[2015-03-24 10:15] #6 closed

[2015-03-25 02:45] #7 closed

[2015-05-04 09:58] sawhneygunjan opened #10 "Error : Job not found"
Getting this error

Atomic Job: Testing not found
Atomic Job: Testing-2 not found
Build step 'Coordinator' marked build as failure
Finished: FAILURES

But both the jobs exist

[2015-05-04 17:04] ace-han commented on #10
@sawhneygunjan Please ensure no special tokens in job name `Testing` and `Testing-2`. Any spaces heading, tailing, in-between?

Please zip  entire `$JENKINS_HOME/jobs` folder or package the small portials and send to ace.jl.han@gmail.com for my detail checing, thx.

[2015-05-11 16:22] ace-han commented on #10
@sawhneygunjan I think you probably no job definition for job `Testing` and `Testing-2`. I will close this issue. I will add a more specific doc about how to use this plugin later, thx.

[2015-05-11 16:22] #10 closed

[2015-05-20 02:16] ace-han commented on #8
No plan about it for the time being

[2015-05-20 02:16] #8 closed

[2015-07-09 07:51] prashantmv opened #11 "Atomic Job: LoadTesting not found"

[2015-07-10 06:44] kymair commented on #11
@prashantmv Could you provide more details?

[2015-07-10 06:47] ace-han commented on #11
@prashantmv Did you define another job named LoadTesting in the same jenkins?
Or could you provide a snapshot the home page of your running jenkins?

[2015-07-10 10:59] ace-han commented on #11
Actually this is the same as #10 .

Now that we've built up an online demo it would be more friendly for users to pickup how to use this plugin

Please try it out http://jenkins.unendedquest.com, thx.

[2015-07-10 11:08] ace-han opened #12 "Execution parameter values display disorder"
![image](https://cloud.githubusercontent.com/assets/1177332/8617493/f37c1860-2736-11e5-9164-a03a2e0d26bd.png)

It should be a minor bug

[2015-07-11 05:39] #12 closed

[2015-07-16 06:27] ace-han commented on #11
Closing this issue for no response after a week.

@prashantmv plz raise it with more detail about the problem you encountered if you still could not make it work, thx.

[2015-07-16 06:27] #11 closed

[2015-08-06 02:36] ace-han opened #13 "Atomic job building status bar does not end in the build table sometimes"
As titled. And should be a minor javascript error but requires hard digging...

Snapshot:
![image](https://cloud.githubusercontent.com/assets/1177332/9102605/e869375a-3c26-11e5-87e7-540830890092.png)

[2015-08-06 02:41] ace-han opened #14 "Status of coordinator job should be synced with the job status"
As titled. Two indicators need be synced when the coordinator job 's build is accomplished as belows:

![image](https://cloud.githubusercontent.com/assets/1177332/9102681/af2e09f6-3c27-11e5-9adb-4bdd5bee2471.png)

[2015-11-17 12:49] Gabbyr opened #15 "reading parameters from parent job"
I was trying to pass parameters to a child job within coordinator but failed. somehow it doesn't get into the child job I am trying to run. it's a simple environment variable. am I missing something here ?

[2015-11-17 14:49] ace-han commented on #15
Hello there,

Plz make sure the parameter `type` and `name` are exact the same type in parent (coordinator-job) job and child job. Hope this could hope you out

[2015-11-18 12:10] Gabbyr commented on #15
hi - the name is the same but the types are different. however, I use it in a string context on the child job so it can't be the same. I solved it with files reading/writing for now.

[2015-11-18 12:12] Gabbyr opened #16 "parallel run"
trying to run 2 jobs in parallel, but somehow I get it in serial mode all the time..jobs are sibling, not parent-child. am I doing something wrong here ?

[2015-11-18 12:16] Gabbyr commented on #16
nm - got it. missed the p and s notation for parallel and serial....:-)

[2015-11-18 12:37] ace-han commented on #16
Glad that you figured it out.

[2015-11-18 12:37] #16 closed

[2015-11-22 14:08] Gabbyr commented on #16
Ace - one more thing, if I may - it would be great if the parameters of the
any child jobs are exposed to the root job. that way I can see and change
them if I wish to run it manually from the execution plan page.also - I am
not able to visually track the execution at it happens from the root top
page.

Thanks,

Gabby.

On Wed, Nov 18, 2015 at 2:38 PM, Ace Han <notifications@github.com> wrote:

[2015-12-18 07:25] ace-han commented on #15
Grad that you figured it out !

[2015-12-18 07:25] #15 closed

[2015-12-18 07:31] Gabbyr commented on #15
Hi, I have sent you some feedback and wishful things some time ago. got a
chance to have a look maybe. ?
On 18 Dec 2015 09:26, "Ace Han" <notifications@github.com> wrote:

[2015-12-18 07:45] ace-han commented on #15
@Gabbyr Maybe I've lost it in my mailbox, would be nice if you can resend it or just directly paste your requirement as a feature request in Github.

Thx for your trying out this plugin

[2015-12-18 09:06] ace-han commented on #16
@Gabbyr  your requirement could be consolidated as below points:
1. child jobs' params could be seen from coordinator job
2. coordinator job could track down the execution progress in one place

# Point 2
one of the goal of `coordinator-plugin` is to track down all relevant jobs in one page, like below in each building page:

![image](https://cloud.githubusercontent.com/assets/1177332/11892718/ce5

[2015-12-18 09:31] Gabbyr commented on #16
Thanks a lot Ace.

The thing is that from some reason, I don't see that page you are showing
below,with the child jobs running progress bar. what am I missing here. .?
On 18 Dec 2015 11:06, "Ace Han" <notifications@github.com> wrote:

[2015-12-18 09:51] ace-han commented on #16
Plz check out that
* if you chlid jobs ends quickly, not running long enough to see its progress bar
* after trigger a new build, plz go to url
`http://$JENKINSHOST:$PORT/view/All/job/$JOB_NAME/$BUILD_NUMBER/`
like: http://jenkins.unendedquest.com/view/All/job/simple_demo/28/

or just click from build number in `build history` as below

![image](https://cloud.githubusercontent.com/assets/1177332/1

[2015-12-18 10:31] Max-Serra opened #17 "Coordinator Parameters not correctly shown after a build is launched"
Hi Jindi and Ace,

I was very happy to find and try latest 1.1.1 version which solved Parameters tab issues. Unfortunately I'm using two not standard Job Parameters plug ins discovering further issues:  Parameters Separator (https://wiki.jenkins-ci.org/display/JENKINS/Parameter+Separator+Plugin) and Active Choices (https://wiki.jenkins-ci.org/display/JENKINS/Active+Choices+Plugin).

I prepared two

[2015-12-21 01:39] ace-han commented on #17
Sorry for the late reply, I will look into it these days

[2015-12-23 14:40] ace-han commented on #17
@Max-Serra for your case

I don't think I could make it.  It's way beyond that I could hack it.

I debugged into it. The `Active Choices Plugin` instance in your case is actually [DynamicReferenceParameter](https://github.com/jenkinsci/active-choices-plugin/blob/master/src/main/java/org/biouno/unochoice/DynamicReferenceParameter.java)

and it does not override a special method from standard `hudso

[2016-01-11 15:18] Max-Serra commented on #17
Hi Ace,

Thanks for starting the issues analysis. I was on Christmas Holidays, that's the why of my late reply too.

Any news regarding Separator Parameter issue? In our Coordinator Job we put only one separator as first parameter in order to show the Parameter tab , but in this case even String Parameters don't work correctly showing the default values instead of the current ones.

So it seems th

[2016-01-13 16:22] ace-han commented on #17
@Max-Serra , I've located the problem. But still need sometime to do the fix
In a word, there is a list out of range bug triggered while displaying parameters with Separator Parameter

as below:
![issue17](https://cloud.githubusercontent.com/assets/1177332/12300072/cc3fc79a-ba54-11e5-9f5a-70d7f288a6e5.jpg)

[2016-01-17 11:14] ace-han commented on #17
@Max-Serra There are some considerations that I won't officially support `parameter-separator-plugin` issue.
It will jeopardy a lot of history page displaying logic in `coordinator-plugin`.

1. Fix from `parameter-separator-plugin`. Using the new code pull request in jenkinsci/parameter-separator-plugin#5, plz choose one of the belows at your desire
    * Download this compiled one I've done for y

[2016-01-17 22:13] Gabbyr opened #18 "any restrictions on which jobs can be run through coordinator ?"
i am having an issue with jobs that just won't run via coordinator but i couldn't find the common denominator between them all.
is there any limitation regarding the jobs which i can/can't run in s or p mode ?

[2016-01-18 02:05] ace-han commented on #18
@Gabbyr The answer is No.

The design for this plugin is to take control over other jobs.

If you find any restriction then I think it's coordinator job within a coordinator job. And I won't support that cuz I don't have any idea about how the ui should be displayed in this situation, it's quite nasty.

For your case
1. Look through the jenkins log every time the failing coordinator job triggered,

[2016-01-18 05:21] Gabbyr commented on #18
Thanks,I will follow your guidance here. my problem is that the coordinator
job just hangs in there and not running the requested job which includes
another job indeed, but not a coordinator one. It just runs another job
with some parameters. Is that a problem as well ?
On 18 Jan 2016 04:05, "Ace Han" <notifications@github.com> wrote:

[2016-01-18 05:42] ace-han commented on #18
Plz make sure the you've got enough executor as well.

`coordinator` would take up one executor, like below

![image](https://cloud.githubusercontent.com/assets/1177332/12384102/45b3ff3c-bde9-11e5-9425-1a3a01d1ef93.png)

[2016-01-18 05:55] Gabbyr commented on #18
Yes,I do have,since when tried running other jobs,it worked. i am guessing
it has to do with a job inside another job,but I am not sure yet.
On 18 Jan 2016 07:42, "Ace Han" <notifications@github.com> wrote:

[2016-01-19 10:43] Gabbyr commented on #18
hi - I'll try to show you what is it that we get now. i don't if it's
related to multi job type maybe, or anything else, but we fail to run the
following :

[image: Inline image 1]

and we see this on the build page :

[image: Inline image 2]

if we change the order of builds for the S jobs, we get the error on the
other one.
the jobs are simple and includes only bash calls and such, not something

[2016-01-19 12:52] Gabbyr commented on #18
Ace - another quick one - if you define a job as S one, does it mean that
if you 2 serial jobs and the first one fails, the other won't run at all ?

Thanks.

On Tue, Jan 19, 2016 at 12:43 PM, Gabby Romano <omeriko12@gmail.com> wrote:

[2016-01-20 01:57] ace-han commented on #18
@Gabbyr Yes.

The direct children jobs under `S` one will get serial run one by one

If the leading job fails then its siblings(which is sharing the same `S` parent) wont get run at all

[2016-01-20 07:35] Gabbyr commented on #18
Thanks Ace. and currently there is no way to put logic there, right ?
On 20 Jan 2016 03:57, "Ace Han" <notifications@github.com> wrote:

[2016-01-20 08:42] ace-han commented on #18
@Gabbyr No. Currently not supported.

I dont wanna be involved with that kind of complicated scenarios.

If that is the case, you may consider `Jenkins` native build trigger.

And is it okay for me to close this issue now?

[2016-01-20 08:48] Gabbyr commented on #18
Yes,sure.
i just didn't get an answer from you regarding a regular nested jobs - that
should work as usual or it's not supported just like a coordinator job
inside a coordinator job ?

On Wednesday, 20 January 2016, Ace Han <notifications@github.com> wrote:

[2016-01-20 08:58] ace-han commented on #18
@Gabbyr From your [comment](https://github.com/jenkinsci/coordinator-plugin/issues/18#issuecomment-172814511), the demo images are broken on github, plz update that comment so I could see what you are referring to.

[2016-01-20 14:11] Max-Serra commented on #17
Hi Ace,
if it is more robust I agree to adopt the first solution (I'll try to use the zipped hpi containing the fix, many thanks for providing it: i'll let you know asap). By your analysis it seems that the compatibility of such customized parameter plug-in with Coordinator, depends a lot by a correct standardization. The Parameter tab of the Coordinator I think it is a crucial feature for a good

[2016-01-22 13:58] kymair commented on #17
@Max-Serra Though it is not totally impossible to filter imcompatible plugins, the implementation can be tricky and ugly. Given the current adoption of Coordinator, I think a "known issues" wiki page is a better option.

By the way, we can add you as the project contributor as well, if you are interested :-) Believe you can write better documents than us.

[2016-01-27 10:13] Max-Serra commented on #17
@kymair I agree, your choice is reasonable.

Regarding your proposal, yes I'm interested, thank you. For sure currently I would like to participate to the testing side, even if I'm more a designer/architect.

Let's see if I will can contribute to the development as well, since I didn't ever implemented a Jenkins plug-in. For sure I will start setting up a Jenkins plug-in development environment in

[2016-01-28 02:56] ace-han commented on #17
Adding @Max-Serra to the project and issue closed

[2016-01-28 02:56] #17 closed

[2016-01-28 02:58] ace-han commented on #18
closing this issue after 7 days no replies
@Gabbyr I think the answer to your question is no

[2016-01-28 02:58] #18 closed

[2016-02-02 02:16] kymair opened #19 "Create a Dockerfile for the project"
Should create a Dockerfile to allow fast development env build up.

Basically the image should
1. Install Java, Maven, Jenkins;
1. Grab latest coordinator plugin with sample jobs;
1. Run Jenkins, open necessary port for debugging.

[2016-02-13 10:55] kymair commented on #19
I was wrong. After checkout the project in IntelliJ, invoking a single Maven command can load up the full Jenkins development env. A docker is not only unnecessary but also slows things down due to virtualization.

[2016-02-13 10:55] #19 closed

[2016-02-13 15:58] ace-han commented on #19
`docker` might not be necessary, however the `jobs` folder in `work` folder, I think, is necessary.

Not only for test purpose but also a quick start for new comer on this project.
This `jobs` should contain few  classical scenarios job configuration only (to be more specific...)

![image](https://cloud.githubusercontent.com/assets/1177332/13028563/8f132b98-d2ad-11e5-8d75-365c030fffd4.png)

[2016-02-21 09:38] Gabbyr commented on #18
Hi Ace - i am running now Jenkins version 1.642.1. when I try to run a
coordinator job now, I don't see the Job UI, only an empty white area. do
you know if the security changes made at this jenkins version are causing
this ?

Thanks,

Gabby.

On Mon, Jan 18, 2016 at 4:05 AM, Ace Han <notifications@github.com> wrote:

[2016-02-23 06:20] ace-han opened #20 "Display issue with Jenkins version 1.642.1"
There was a display issue when going to trigger build page on Jenkins version `1.642.1`

[2016-02-23 06:22] ace-han commented on #18
Plz refer to #20, and do not raise new issue on the closed one
Thx.

[2016-02-23 06:26] Gabbyr commented on #18
Thanks Ace.
On 23 Feb 2016 08:23, "Ace Han" <notifications@github.com> wrote:

[2016-02-23 15:48] #20 closed

[2016-02-23 16:07] kymair opened #21 "CloudBees CI failed due to unrecognized param -Xdoclint:none for maven-javadoc-plugin"
CloudBees CI uses JDK1.7 and it doesn't recognize `-Xdoclint:none`

    [ERROR] Exit code: 1 - javadoc: error - invalid flag: -Xdoclint:none
    [ERROR] Command line was: /opt/java/sdk/Oracle/x86_64/jdk1.7.0_79/jre/../bin/javadoc @options @packages

Need figure out a way to cater for JDK8 and earlier versions at the same time.
https://jenkins.ci.cloudbees.com/job/plugins/job/coordinator-plugin/31/

[2016-02-24 11:05] ace-han commented on #21
1. drop

[2016-02-24 11:07] ace-han commented on #21
We have following options:

1. drop this plugin directly since we do really use it
2. profile activation by jdk version, referring to http://stackoverflow.com/questions/15886209/maven-is-not-working-in-java-8-when-javadoc-tags-are-incomplete

[2016-02-25 08:11] Max-Serra commented on #19
Hi guys,

I'm setting up a development environment to better contribute to this project. I'm reading the wiki regarding how to setup Plugin development, but there are several possibilities and I know how much time consuming can be each Maven build.

The jenkins setup I'm using is already complex and this complexity is growing since we use distributed builds over slaves both Linux and Windows. I gu

[2016-02-25 09:15] kymair commented on #19
@Max-Serra I've just setup the env several days before. Looks straightforward enough. I just cloned the source code, imported into IntelliJ, and run following maven command (which is mentioned in project root `mvn_scripts.txt`)

    hpi:run -Djetty.port=8090 -Dhpi.prefix=/jenkins

![image](https://cloud.githubusercontent.com/assets/130247/13314993/1807fa6c-dbe3-11e5-858d-abc5ce40f6d4.png)

[2016-02-25 16:06] Max-Serra commented on #19
Thanks Jindi, I was just watching that file and indetifying the right mvn command.  I'm using Eclipse...I gave a look long time ago to Intellij, but I didn't yet really use. I see error in the project pom... it seems not correctly linking parent pom...in your workspace there is jenkins project...is it just the folder containing jenkins pom or?  In my workspace I didn't yet link any jenkins referen

[2016-02-28 05:13] kymair commented on #19
No the Jenkins source is cloned separately, no need for plugin development.
I checked it out just for my curiosity.

Best Regards
Kymair Wu

On Fri, Feb 26, 2016 at 12:06 AM, Max-Serra <notifications@github.com>
wrote:

[2016-03-18 08:05] Max-Serra opened #22 "Possible enhancement for serial jobs"
Hi Guys,

As you know in my team we are using Coordinator more for Test Automation than to Build and/or to Deploy code.  I Read some comments in this post  [any restrictions on which jobs can be run through coordinator ?](https://github.com/jenkinsci/coordinator-plugin/issues/18) where Gabbyr mentioned something regarding the behavior of the jobs under S branch. I read as well in the wiki the para

[2016-03-21 03:23] ace-han commented on #22
@Max-Serra and @Gabbyr We will consider this in the future release.

We will add one option named `blocking or non-blocking` while configuring the execution plan in page `/jobs/xxx/configure`

[code]

In above case, any of `S_1`, `P_2`, `leaf_3` fails won't break the whole build

However, we could really need some idea about how to present these `blocking` or `non-blocking` information in the ui p

[2016-03-21 06:40] ace-han opened #23 "Upgrade jquery to 1.12.2 and jstree to 3.3.0"
Since it has been 2 years after the first initialization of this project, it's time to keep up the dependencies versions

[2016-03-21 07:43] #21 closed

[2016-03-21 15:26] Max-Serra commented on #22
It sounds very good. Let me think a bit, I'll collect some feedbacks and I'll be back with some ideas. How can we help you in testing? Which branch are you going to push?

We have complex setups with jenkins slaves and several configurations.

[2016-03-22 02:10] ace-han commented on #22
Update `blocking` to `breaking` for much clearer intention

@Max-Serra We first need upgrade the `jquery`, `jstree` library.
In the mean time, you could collect some ideas about this feature.

For git branching, we will follow [git flow model](http://nvie.com/posts/a-successful-git-branching-model/). The branch for this feature `feature/breaking_option` will be pushed after [feature/jstree_upgrade

[2016-03-22 06:59] #23 closed

[2016-03-24 09:46] Max-Serra commented on #22
Hi Ace,

I'm back with a very simple idea. I reused a bit the icons within Coordinator plug-in. I guess we could change the node icons, using a red octagon for the breaking serial (as the stop traffic sign), and changing just the colors for the non-breaking serial and parallel nodes. I attach here the icons modified.

![red-octagon-serial-breaking](https://cloud.githubusercontent.com/assets/163479

[2016-03-30 06:37] ace-han opened #27 "Test Required"
Since new features are coming, we should play it safe to ensure quality.

Writing tests in jenkins, we should refer to https://wiki.jenkins-ci.org/display/JENKINS/Unit+Test#UnitTest-@LocalData, and a lot of existing examples in https://github.com/jenkinsci/jenkins/tree/master/test/src/test/resources

[2016-04-03 19:48] #22 closed

[2016-04-03 19:48] #27 closed

[2016-04-03 20:14] ace-han commented on #22
@Max-Serra please help test with the latest code, thx.

[2016-04-05 07:31] Max-Serra commented on #22
Hi Ace, very good. I will install this beta version of the plugin on a Jenkins dev instance cloned by the production one. The configuration of the Execution Plan looks like the following:

![regressiontree](https://cloud.githubusercontent.com/assets/16347984/14274149/d8ea9e42-fb0f-11e5-844c-f3457f08c1ed.png)

The tree above runs jobs over both linux and windows envs, having master-slaves setup. So

[2016-04-05 09:20] ace-han commented on #22
Hi, @Max-Serra for any issue relevant to this feature plz submit a new issue to avoid this conversation list becoming way too long.

Regarding to history display issue in histories page plz share more details, a screen shot would be better

[2016-04-05 11:36] Max-Serra commented on #22
Ok, you are right, this issue is marked closed.

[2016-04-06 08:07] Max-Serra opened #29 "When Security is Enabled the Jobs included in the Plan are not found during the Execution"
Hi,

I've enabled the security by the Configure Global Security page, setting up LDAP option and Project-based Matrix Authorization Strategy.

**Some details:**

Jenkins version 1.631
Coordinator plugin versions: 1.1.1 and 1.2.0-SNAPSHOT (pulled from develop branch)

**Scenario 1 with Failure:**

- Logged as Administrator using my credentials

- cloned some old jobs created previously as anonymous

[2016-04-06 10:53] ace-han commented on #29
Anyway, plz try it out with the latest code.

I believe this issue persists from the date this plugin pushed to `github`.
It has nothing to do with the version of `jenkins`

Thx for raising it out. ^_^

[2016-04-06 14:15] Max-Serra commented on #29
Very good Ace,

By the latest code the plan I mentioned above is now working. I'll try out with much more complex one.

Many thanks.

[2016-04-08 07:15] Max-Serra commented on #29
Hi Ace,

I guess we can consider solved this issue. I executed the Coordinator job over a complex setup and it's working fine at the Security perspective and jobs triggering once a user is logged on.

[2016-04-08 08:09] Max-Serra opened #30 "Testing plug in version 1.2.0-SNAPSHOT in order to prepare new release"
Hi Ace,

I used the plug in with latest code modifying the complex setup which looks like the following (in the picture still set according to the previous 1.1.1 version):

![regressiontree](https://cloud.githubusercontent.com/assets/16347984/14376659/21c0c3be-fd6b-11e5-8793-08169e0895ec.png)

I switched the node "Inventory Test Suite" to all the available patterns, running only the branch within

[2016-04-08 16:55] ace-han commented on #29
Good to know :muscle:

[2016-04-08 16:55] #29 closed

[2016-04-10 05:15] ace-han commented on #14
This is just a little UX enhancement, should be okay to close now

[2016-04-10 05:15] #14 closed

[2016-04-10 07:20] ace-han commented on #13
This UI bug is not that easy as I expected.

The implementation is binding some logic on `setTimeout(xxx, 5000)` and `activeBuildMap`, which is misleading-prone.

If I set up a coordinator job like below ( with short time execution)
[code]
In a re-triggering situation, current implementation will miss update in UI like below
![image](https://cloud.githubusercontent.com/assets/1177332/14408617/eb0d

[2016-04-11 17:51] ace-han commented on #13
Okay, I re-implemented the status polling on the atomic jobs.

Codes look much nice now. Good for newbie to pickup :sunglasses:

[2016-04-11 17:51] #13 closed

[2016-04-11 18:00] ace-han commented on #30
@Max-Serra I think we can publish `v1.2.0` this weekend.

All major issues in this release have been fixed.

See if anything unexpected on your side, branch for relevant bug fixing is `release/1.2.0` for the time being.

[2016-04-11 18:04] ace-han commented on #9
I am not sure if current layout is unacceptable to anyone.

I think it works kinda just fine. :smile:

I am gonna close this one instead of involving super complicated js logic and libraries in this plugin.

[2016-04-11 18:04] #9 closed

[2016-04-12 09:55] Max-Serra commented on #30
Hi Ace,

As anticipated in the first comment in this thread, I analyzed deeply an issue seen during this test phase.
I found it even in the previous commit, but I updated the plug in version according to the HEAD of release/1.2.0 branch.

Description of the issue: using my working Execution Plan in the first picture, but set accordingly to the new non-breaking features , when the whole "Test Suite

[2016-04-12 10:33] ace-han commented on #30
@Max-Serra Thx for raising it out.

I took it for granted silly silly silly, that any failing atomic job only checking its direct parent's breaking option to decide the whole build's status...

I will look into it soon.
[Relevant codes](https://github.com/jenkinsci/coordinator-plugin/blob/develop/src/main/java/org/jenkinsci/plugins/coordinator/model/PerformExecutor.java#L350) if you are interested

[2016-04-12 18:19] ace-han commented on #30
@Max-Serra

I make up my test case as below:
[code]
and the latest code on `release/1.2.0` should be able to nail it

Let me know if anything unexpected in your scenarios.

[2016-04-13 11:19] Max-Serra commented on #30
Hi Ace,

I've seen you are still pushing code, after your latest comment. Should I still wait before testing the issue discovered?

[2016-04-13 11:27] ace-han commented on #30
Hi,

Sorry for the confusion.

Should be no more code pushing unless any issue raised by you

[2016-04-13 15:12] Max-Serra commented on #30
Hi again,

Now the tree is working as expected but the Master Coordinator job (Breaking_Non_Breaking) isn't no longer stopping, running indefinitely even if all the triggered jobs completed. I had to stop it manually.

Started by user Max Serra
[EnvInject] - Loading node environment variables.
Building on master in workspace /jenkins/jobs/Breaking_Non_Breaking/workspace
Atomic Job ( step1 ) Trigge

[2016-04-13 16:26] ace-han commented on #30
Hi, I should already have this problem fixed in https://github.com/jenkinsci/coordinator-plugin/commit/ef0568c850d801a9091c0e0315d690bc37d5c239

plz test with the latest code in `release/1.2.0`

[2016-04-13 20:21] darinpantley commented on #5
I am hitting this bug. When will the fix be released in a new version?

[2016-04-13 22:12] ace-han commented on #5
it should be fixed in version 1.1.1

otherwise plz provide some log for me to pinpoint the problem

[2016-04-13 22:37] darinpantley opened #31 "NullPointerException in 1.0.0 and 1.1.1"
I created 3 jobs:

jobA - This regular job is not parameterized and uses the Parameterized Trigger plugin to launch jobB with three Predefined Parameters.

jobB - This coordinator job accepts three parameters. The build tree has a Root node set to run sequentially and one child leaf referencing jobC.

jobC - This regular job accepts three parameters and then "echo"s each value to the log.

If I ru

[2016-04-13 22:38] darinpantley commented on #5
Thanks for the quick response! I filed a new bug:
https://github.com/jenkinsci/coordinator-plugin/issues/31

[2016-04-14 03:51] ace-han commented on #31
@darinpantley Could you provide the jobs settings as a zip file? like the one around https://github.com/jenkinsci/coordinator-plugin/issues/30#issuecomment-208839234

So that I could easily reproduce the problem you are facing, thx.

[2016-04-14 04:11] ace-han commented on #31
@darinpantley However, since `coordinator-plugin` is considered as a master controller over other jobs.

I don't know why you are using another regular job to trigger a master controller job.

From use case perspective, I think you could revise your job dependencies among jobs as a work around for the time being before my investigation with your zip file later on.

[2016-04-14 07:54] Max-Serra commented on #30
Hi again,

I packaged the hpi over the commit f53f62ad0d3484dfaa40944e135cb25a1f5439f4  and I confirm that the master is running endlessly. Could you try running the reproducible plan I attached here?

Below is what I see (I forced the job step12 to fail as well) :

![masterjobendless](https://cloud.githubusercontent.com/assets/16347984/14520735/5c8f000e-0226-11e6-8745-64e6ac9755a6.jpg)

[2016-04-14 07:59] Max-Serra commented on #30
Consider that I changed locally the pom in order to point to jenkins 1.631, which is the version running in my production env. Maybe it isn't meaningful, maybe it can be.

<parent>
		<groupId>org.jenkins-ci.plugins</groupId>
		<artifactId>plugin</artifactId>
		<version>1.631</version>

</parent>

[2016-04-14 08:31] ace-han commented on #31
@darinpantley Thx for raising out this issue. Yes, it is a problem that persists all existing versions.

Fix has been pushed, and it will be available in release 1.2.0 which is target to release by next week.

So looking forward to that :smile:

[2016-04-14 08:38] ace-han commented on #30
@Max-Serra I will hold on upgrading jenkins version.

`jenkins-core` is doing its job to make sure that every backend function in any version is compatible with its former ones except for UI changes or those breaking changes in release note.

In additions, this plugin is supposed to work with Jenkins since version 1.596.1.

If you find sth wrong in jenkins higher version, I'd be happy to make a fi

[2016-04-15 14:04] ace-han commented on #30
@Max-Serra Regarding to endless problem, I have added another testcase to ensure the `coordinator-job` ends normally.

Please try testing with the latest code, I do hope we can release this `1.2.0` by the coming Monday :sunglasses:

Latest execution snapshot

![image](https://cloud.githubusercontent.com/assets/1177332/14562967/28097d1e-0352-11e6-9705-41aa579c5138.png)

[2016-04-15 14:04] #31 closed

[2016-04-15 21:54] darinpantley commented on #31
Thanks for fixing this so quickly!

[2016-04-18 11:29] Max-Serra commented on #30
Hi again,

Now the previous plan is working as expected and the endless issue is solved. Anyway, to test better I tried to check further configurations and I slightly changed the Execution Plan.I switched the root as Parallel Breaking and it isn't working as expected, because the failure in this case didn't break the other parallel executions:

![rootparallelbreaking](https://cloud.githubuserconte

[2016-04-18 14:04] ace-han commented on #30
@Max-Serra Does "didn't work as expected" mean the `coordinator-job` fall into an endless loop again?

Otherwise, it's expected as designed.

Let's abstract here
[code]

By above configuration, any atomic jobs under same `S_X_breaking` will stop the one next to(executed after) the failing one but those in different branches `S_Y_breaking`.

That's the pattern of `Parallel` or `Concurrency`, don't

[2016-04-18 14:41] ace-han commented on #30
Although, I've already add some logic to cater below scenario
[code]
Let's say that `S_1_breaking` failed on the second atomic job and at the mean time
`S_2_breaking` already finished the first 50 atomic jobs and 50 more to go. But the left `50(or 48,49 not exact 50) jobs to go` will not be triggered

[2016-04-18 15:06] Max-Serra commented on #30
...let's keep one of the previous results:

![image](https://cloud.githubusercontent.com/assets/16347984/14608355/a737ff54-0585-11e6-8f23-b9ea17a9b3ea.png)

If your sentence is correct, this means that the behavior above is wrong. Originally the Parallel Breaking meant that while the nested jobs were executing and one of them failed, those running will be aborted and those not started yet will be

[2016-04-19 10:29] ace-han commented on #30
@Max-Serra

I hope below two test cases could make myself clear on the underlying abortion logic

In a word, those share the same ancestor with the failed atomic job will be aborted

* Scenario 1
[code]

* Scenario 2
[code]

Anyway, Please test with the latest code, looking forward to your reply.

[2016-04-19 13:16] Max-Serra commented on #30
Very good Ace,

I tried tens of combinations changing the timings and switching the patterns. Now the logic looks as expected, with the correct abortion or non triggering logic depending on the different setups.

The latest code under the commit 27f6b1f6f0831ea6225dbf44176e9c05b2604ab0 looks good for me.

[2016-04-20 02:29] ace-han commented on #30
Good to know :+1:

[2016-04-20 02:29] #30 closed

[2016-04-23 06:21] Alren-huang opened #32 "Failure on triggering multi-configuration project as atomic job"
As titled

status is nothing as follow:
![image](https://cloud.githubusercontent.com/assets/4769275/14759717/9e603e5a-095e-11e6-8f47-d848c171b1b3.png)

multi-configuration project's ${JOB_NAME} is different from freestyle project, may be is the key

![image](https://cloud.githubusercontent.com/assets/4769275/14759710/730921e0-095e-11e6-811c-4d8bf86370f5.png)

[2016-05-02 10:47] ace-han commented on #32
Hello there,

Yes, I confirmed this is actual an issue.

However, a work around solution is:
* replace `multi-configuration project` to `freestyle project`
* install https://wiki.jenkins-ci.org/display/JENKINS/NodeLabel+Parameter+Plugin

And I will schedule to fix this issue in version `1.2.1`

[2016-05-03 14:33] ace-han opened #33 "Build button should not be triggered if the same build is building"
If a `coordinator` build (with the same build number) is building, we should forbid triggering again

Neither from the ui page -- build button, nor programming api.

[2016-05-20 13:59] codepoet80 opened #34 "Coordinator Does Not Work with Folders Plugin"
If a job is located within a Folder, Coordinator will fail to find the job.
Folders are enabled with this plugin:
https://www.cloudbees.com/products/cloudbees-jenkins-platform/team-edition/features/folders-plugin

[2016-05-23 03:10] ace-han commented on #34
I will look into this kind of issues these days. In the mean time, please use other view plugin instead.

[2016-05-24 18:45] darinpantley opened #35 "Overlapping content on build number page"
The numbered build pages for my coordinator job do not look correct. For example, my `http://jenkins/job/my_coordinator_job/48` looks like this:

![tabs-absolute](https://cloud.githubusercontent.com/assets/5256138/15515678/05dc7c1a-21b5-11e6-9769-693ef0150391.png)

This is the HTML that isn't displaying correctly:
[code]

If I remove `"position: absolute;"` from `#side-panel` in `plugin/coordinato

[2016-05-25 01:41] ace-han commented on #35
I believe it's related to this commit 91e691e8dce920232fc7e36f4cbf64c81e970760 due to this issue #20.
We will look into this lately along with other issues and group them in release 1.2.1

[2016-05-26 20:15] tzedar opened #36 "Coordinator project double triggering projects"
I have a main coordinator project that triggers other projects to run my tests. Sometimes I get the project triggered once and sometimes it triggers twice even though I have it configured only once. Below is the console output of the coordinator job showing that some jobs are triggered two times in a row.

Atomic Job: Clone Testing Repos - Android  #1012 Completed, Result: SUCCESS
Atomic Job ( Tur

[2016-05-27 09:36] ace-han commented on #36
At first sight, it appears that it will trigger the failed job one more time.

[2016-05-27 12:28] tzedar commented on #36
It double triggers before the first job fails. I have 2 executors setup (1 for the coordinator job and 1 for the job that is supposed to be triggered.) When It executes the first emulator job uses 1 executor and 1 job is queued up. I also have retry failed jobs unchecked so it will not retry them.

[2016-06-06 15:37] tzedar commented on #36
This does seem to only happen after a failed job. And it happens for every failed job. This kind of just snow balls into a lot of jobs getting queued up and taking forever to run all our tests. Is there anyway to get a eta on when someone can look into this? Otherwise I am going to have to find another plugin that comes close to accomplishing the same thing.

[2016-06-08 12:18] ace-han commented on #36
@tzedar I could not reproduce your problem. Could you share your `execution plan` like below
![image](https://cloud.githubusercontent.com/assets/1177332/15894050/32343d5e-2db6-11e6-81f0-ac013d173999.png)

[2016-06-08 12:23] tzedar commented on #36
![screen shot 2016-06-08 at 8 21 21 am](https://cloud.githubusercontent.com/assets/17656549/15894141/41c9804e-2d52-11e6-833a-9e4de7c82058.png)

[2016-06-08 13:01] ace-han commented on #36
@tzedar I did copy of your config, still no luck

I am wondering if you are defining any other plugin parameters (`NodeLabel Parameter Plugin`) on those failure jobs so that it triggers twice...

or the job type is `Multi-configuration project`?

Otherwise, plz send me you job config `$JENKINS_HOME/jobs/` (hope that isn't too big) as a zip, I will take a close look.

[2016-06-08 13:13] tzedar commented on #36
I am triggering parameterized jobs for each configuration. So each test has parameters that are passed from the coordinator job. This is completely random in failures. If a smoke test fails then the epic will not run but the next smoke test will trigger twice.

Can this be a configuration thing on my side like an issue where the job is blocking or non-blocking causing the double trigger?

[2016-06-08 13:32] ace-han commented on #36
This bug-like behavior is only reported by you.

I need to identify whether it's a bug from this plugin or from mis-config. Since I could not reproduce on my local pc, I need to take a close look on you config.xml files of your job config

![image](https://cloud.githubusercontent.com/assets/1177332/15895929/537d7476-2dc0-11e6-9650-776853023f93.png)

Send them to me, I think it's the fastest way to

[2016-06-08 13:51] tzedar commented on #36
I am working on setting it up on a smaller scale so I can send you my configuration files... I did notice one difference in our execution plans. The MFI configuration on mine is non-blocking but it is blocking on yours. Could this be the difference and the problem we are facing?

[2016-06-08 13:55] ace-han commented on #36
Yes, I noticed that and retriggered, again no luck

![image](https://cloud.githubusercontent.com/assets/1177332/15896625/9cfff206-2dc3-11e6-9cb9-5c0c1cad2868.png)

[2016-06-08 13:58] tzedar commented on #36
Is there another blocking job after the Note_5 that would be the job that gets triggered twice. I am still working on a smaller setup at my site but it may take a while.

[2016-06-08 14:06] ace-han commented on #36
@tzedar okay, I could reproduce it now by adding a blocking job after Note_5

[2016-06-08 15:00] tzedar commented on #36
@ace-han I have a smaller configuration setup that has the same issue. Do you still need the config files for that or are you good now since you can reproduce it on your side?

[2016-06-08 16:47] ace-han commented on #36
@tzedar Thx for raise out this bug. It should be fixed in the latest `develop` branch

and here is package for the fix, you can manually replace it in your jenkins instance

[coordinator-1.2.1-SNAPSHOT.jpi.zip](https://github.com/jenkinsci/coordinator-plugin/files/305280/coordinator-1.2.1-SNAPSHOT.jpi.zip)

Hope this works.

[2016-06-08 17:05] tzedar commented on #36
So far so good. I tested on my mock up and it fixed the issue. I just installed on the main system and we will see what happens tonight. Thanks for the quick fix.

[2016-06-11 12:47] ace-han commented on #33
Okay, I would only ensure the triggering button will not be retrigger-able as possible as I can at least for the very first 5 seconds.

It's actually very tricky when I look into the detail of this issue. It's not worth to introduce ajax overhead to achieve this rare behavior.

In a word, I will only implement this in a less strict way to avoid ajax overhead.

Cases to consider during the course.

[2016-06-11 13:55] #33 closed

[2016-06-11 13:58] ace-han commented on #36
This should be fixed already.

[2016-06-11 13:58] #36 closed

[2016-06-11 14:14] ace-han commented on #35
@darinpantley, I went through the code in `pom.xml` and found that the minimum version `jenkins` is `1.596.1` which was greater than the version you listed. And I don't wanna be fancy about this css issue, using extra javascript.

My suggestion is that please upgrade your jenkins to version `>=1.596.1`

[2016-06-11 14:24] #35 closed

[2016-06-11 16:11] ace-han commented on #34
As I looked into this issue, there came the problem is that.

What if you have multiple folders(say `folder1` and `folder2`) defined and all have a job in them named `test_1`, and you create an atomic job in `coordinator` project, how do we identify which `test1` you are referring to?

I would suggest the atomic job name in `coordinator` project should go with `item`'s `fullname`. In this way, we

[2016-06-15 15:05] Johnlon opened #37 "NPE at CoordinatorBuild.doPollActiveAtomicBuildsTableRowHtml"
When I visit the job page I get an error dialog popping up from jenkins.
Looking in the Jenkins log I can see this error ..

java.lang.reflect.InvocationTargetException
    at sun.reflect.GeneratedMethodAccessor3034.invoke(Unknown Source)
    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
    at java.lang.reflect.Method.invoke(Method.java:483)
    at org.k

[2016-06-15 16:44] ace-han commented on #37
Hello, there
The given information is not enough for me to identify where the problem is.

Please provide the url of the page that you visiting and the snapshot picture for the `execution plan` of the failure `coordinator` project

Thx.

[2016-06-17 09:32] Johnlon commented on #37
By snapshot of execution plan do you mean the Jenkins job page

[2016-06-17 17:13] Johnlon opened #38 "NullPointerException PerformExecutor.java:155"
My job fails when it is triggered by an SCM change, however runs fine if I hit the build button.

ERROR: Build step failed with exception
java.lang.NullPointerException
    at org.jenkinsci.plugins.coordinator.model.PerformExecutor.prepareExecutionPlan(PerformExecutor.java:155)
    at org.jenkinsci.plugins.coordinator.model.PerformExecutor.execute(PerformExecutor.java:95)
    at org.jenkinsci.plug

[2016-06-17 17:22] Johnlon commented on #37
The URL I'm hitting is     http://localhost:8000/ci/view/All/job/MyJob/4/

I've noticed that the error only occurs if the build I click on is one that's failed.
I does not occur if then build I click on is one that is currently in progress nor if it is a successful build.

![img](https://cloud.githubusercontent.com/assets/836248/16159066/79ed5fd2-34b8-11e6-9002-fd7fb157a178.png)

The job config lo

[2016-06-19 13:51] ace-han commented on #38
I need to setup an gitlab hook to see whats going wrong, which is gonna to take a while.

[2016-06-22 13:58] Johnlon commented on #38
Thanks - currently my process is do a git checkin then to wait for the build to fail and then restart it manually.

[2016-06-22 13:58] Johnlon commented on #37
Hi any ideas?

[2016-06-22 14:56] Johnlon commented on #38
It may be relevant but I've noticed that my build page suggests the coordinator build job requires parameters? But I can't see how this can be the case as there are none in the job def.

[code]

[2016-06-23 10:43] Johnlon commented on #38
If I setup a new freestyle build that is set to trigger the coordinator build.
Then manually running the freestyle build causes the coordinator build to fail with ths NPE.
Recall runnign the coord build directly doesn't fail.

Is the problem rooted in the fact that the build is parameterised?
ie parameterised by the coordinator execution plan?

[2016-06-23 12:43] TestingJenkins commented on #11
Hello There,

Not sure if it's the same issue, but I do have a similar problem here.
Essentially, the plugin doesn't seem to be able to recognise jobs in folders.
For example, considering the (folder) layout:

+ --- root
|
| -> test1
|
| --- test_folder
       |
       | -> test2
       |
       | -> test3

test1 will get exectued without a problem, however tests test2 and test3 in test_folder fol

[2016-06-24 01:44] ace-han commented on #11
@TestingJenkins are you using `folder plugin`?

Anyway, plz provide the `execution plan`
like
![image](https://cloud.githubusercontent.com/assets/1177332/15894050/32343d5e-2db6-11e6-81f0-ac013d173999.png)

[2016-06-24 01:46] ace-han commented on #38
I will take a close look into this during the coming weekend

[2016-06-28 09:42] TestingJenkins commented on #11
Hi there,

Thanks for the prompt reply. I see GitHub didn't format my text properly.
I'm not sure if I'm using Folder plugin. The Folder option has always been there in Jenkins, whether it's plugin-provided - I don't know (see screenshot).

![snap 2016-06-28 at 10 35 43](https://cloud.githubusercontent.com/assets/20109984/16410931/a53036e4-3d1c-11e6-941a-75be33ae1c2d.png)

This is the Layout
![sna

[2016-06-28 16:19] ace-han commented on #11
Thx for the information.

For the time being, `coordinator-plugin` does not work with `folder-plugin`. An issue #34 has been raised
And I still had a hard time figuring it out how to do it.

Btw, anything with `folder-plugin` in the naming pattern `xxx/yyy/zzz/...` will not work right, plz avoid having it configured in the `execution plan`.

That's a tricky problem, I'm still working on that.

[2016-07-04 12:30] TestingJenkins commented on #11
Do you know what the problem is? Perhaps I could help?

[2016-07-15 21:39] maimas opened #39 "org.jenkinsci.plugins.coordinator.model.CoordinatorProject$2 is missing its descriptor"
hudson.util.HudsonFailedToLoad: java.lang.AssertionError: class org.jenkinsci.plugins.coordinator.model.CoordinatorProject$2 is missing its descriptor
    at hudson.WebAppMain$3.run(WebAppMain.java:241)
Caused by: java.lang.AssertionError: class org.jenkinsci.plugins.coordinator.model.CoordinatorProject$2 is missing its descriptor
    at jenkins.model.Jenkins.getDescriptorOrDie(Jenkins.java:1304)

[2016-07-16 02:42] ace-han commented on #39
Usually reinstall this plugin and restart `Jenkins` will resolve this problem.

We've come to this problem quite a lot during development.

[2016-07-16 12:45] maimas commented on #39
Thanks...... It worked but I lost all my jobs that belongs to this plugin.

[2016-08-08 11:44] negmos commented on #34
Is there a release date for this?

[2016-11-30 03:29] #34 closed

[2016-11-30 03:31] ace-han commented on #34
@negmos this problem is fixed in #40, sorry for being vanished for a long long time. 😄

[2016-11-30 03:32] ace-han commented on #11
@TestingJenkins plz refer to #40 , and give it a try with the latest `develop` branch, thx.

[2016-11-30 22:18] philmadden83 opened #41 "Null Pointer Exception thrown when build triggered by SCM change"
NullPointerExecption thrown when calling prepareExecutionPlan when build is triggered as a result of an SCM change.

Build triggered via the hudson.triggers.SCMTrigger.SCMAction Action.

[code]

[2016-11-30 22:19] philmadden83 commented on #41
I believe this call returns null

https://github.com/jenkinsci/coordinator-plugin/blob/develop/src/main/java/org/jenkinsci/plugins/coordinator/model/CoordinatorBuild.java#L286

[2016-11-30 22:21] #41 closed

[2016-11-30 22:21] philmadden83 commented on #41
Sames as issue #38

[2016-12-01 04:37] philmadden83 commented on #39
Can this be closed?

[2016-12-02 08:33] #37 closed

[2016-12-02 08:33] #38 closed

[2016-12-02 08:43] ace-han commented on #32
@Alren-huang After a detail looking into this issue, I've decided not to support this `multi-configuration` type of job for the time being.

Please try https://wiki.jenkins-ci.org/display/JENKINS/NodeLabel+Parameter+Plugin instead. Since it will compromise a lot in our current code structure.

Do feel free to raise it out if this is a great violation to you

[2016-12-03 10:23] ace-han commented on #32
sth wrong in cglib which requires complicated debug process...

[2016-12-03 10:25] ace-han commented on #39
Close for release 1.3

Please raise it out if this issue constantly hit on you

[2016-12-03 10:25] #39 closed

[2016-12-05 08:44] ace-han opened #44 "Error reported by `maven-findbugs-plugin`"
Try to have all the violation reported by `maven-findbugs-plugin`, like

https://jenkins.ci.cloudbees.com/job/plugins/job/coordinator-plugin/92/console

Currently, I use below command line to get around `findbugs` error

And this `skip-findbugs-with-tests` defines in parent's pom.xml

[code]

[2016-12-05 08:49] ace-han commented on #44
We can cd to project root and then type below commands to see those reported violations

[code]

[2016-12-09 05:53] #32 closed

[2016-12-09 15:57] ace-han commented on #44
fixed by 5185af1

[2016-12-09 15:57] #44 closed

[2017-01-19 02:26] BNUZ-YLSY opened #46 "Couldn't pass the parameters with "Extended Choice Parameter" to the downstream job in Jenkins v2.32.1"
Environment:
- Centos 7
- Docker 1.11.2
- Docker image: "jenkins:alpine"(v2.32.1)

I added java option "`-Dhudson.model.ParametersAction.safeParameters=foo,bar,tar`" to start up the Jenkins,  then followed your illustration to set up a "controller" with some jobs (and i'm using plugin "`Extended Choice Parameter`"). When i triggered the "controller" to start a deployment, the "controller" show the

[2017-01-19 04:08] ace-han commented on #46
Hello there,

Since `coordinator-plugin` as an **independent** plugin in `Jenkins` world, we should support as many `third-party` plugins as possible without hacking a lot.

`Parameter`-wise plugins may have different ways to generate/get/set their `value`(s), we should find a `standard` way to retrieve `Parameter`'s values (usually `String`, 'Files', etc) or default values.

That is, we finally h

[2017-01-23 06:47] BNUZ-YLSY commented on #46
I found the way to make it work, all fields in `Extended Choice Parameter` expected `description` must to be filled, and all that fields must to be according expected `default`.
So I suggest that which using this plugin and `Extended Choice Parameter` to use `property` files to keep the whole stream parameters according in the latest version `Extended Choice Parameter`.

Thank for your patience.

[2017-01-23 06:47] #46 closed

[2017-02-09 21:27] brianjjoyce opened #47 "NPE when triggering Coordinator - PerformExecutor.java:137"
I get the following error when attempting to trigger a Coordinator job from another job:

[code]
looks like the #38 and #41 were reintroduced.

I have tried to work around it by setting the `executionPlan` in the triggering project and using the [Parameterized Trigger Plugin](http://wiki.jenkins-ci.org/display/JENKINS/Parameterized+Trigger+Plugin) but then I get a ClassCastException:

[code]

I re

[2017-02-10 01:55] kymair commented on #47
Hi, Brian

Thanks for using this plugin. I'm looking into the issue.

[2017-02-10 02:27] kymair commented on #47
@brianjjoyce

Hi, how did you trigger the coordinator job? By setting post-build action "Build other projects", or invoking via CLI, or something else?

[2017-02-10 03:23] #47 closed

[2017-02-10 09:41] brianjjoyce commented on #47
Hi @kymair many thanks for your swift response and helping me with this - and fixing it :-) - awesome - it's much appreciated.

_> how did you trigger the coordinator job?_

Initially I triggered the Coordinator job from a git scm trigger, then I created a freestyle project that triggered it using 'Build other Projects', and finally I tried using the 'Trigger parameterized build on other projects'

[2017-02-10 15:16] kymair commented on #47
@brianjjoyce I've packaged a snapshot version, please try whether it can work. Just rename coordinator-1.4.1-SNAPSHOT.zip to coordinator-1.4.1-SNAPSHOT.hpi and install.

[coordinator-1.4.1-SNAPSHOT.zip](https://github.com/jenkinsci/coordinator-plugin/files/767053/coordinator-1.4.1-SNAPSHOT.zip)

[2017-02-10 16:04] brianjjoyce commented on #47
Hi @kymair - thanks for this - I will install and try the snapshot as soon as I can - there may be a delay before I can update our server - I will let you know if it fixes the issue.

Have a nice weekend.

Thanks
Brian

[2017-02-14 23:19] brianjjoyce commented on #47
Just wanted to let you know that the fix worked - thanks so much - it's great to see the Coordinator plugin doing it's thing :-)

@kymair  - thanks for the awesome support.

All the best
Brian

[2017-02-15 02:03] kymair commented on #47
@brianjjoyce Glad to hear that!
Please feel free to create issue if you encounter any problem.

[2017-03-28 13:58] mchave opened #48 "Fails when using jenkins built in pipeline jobs"
Repro:

Create 2 pipeline jobs (using Jenkins built in pipelines) and the try to run them.

Error:

Mar 28, 2017 2:50:27 PM WARNING org.eclipse.jetty.util.log.JavaUtilLog warn
Error while serving http://mal-twbld01/job/P14/job/TCU/job/Coordinator/2/pollActiveAtomicBuildsTableRowHtml
java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.

[2017-03-28 14:16] ace-han commented on #48
@mchave  Could you provide how you configure/trigger the pipeline job?

The information you provided is not enough for us to locate the problem, thx.

[2017-03-29 01:38] philmadden83 commented on #48
@mchave  could you also provide the version of Jenkins are you running?

[2017-03-29 08:39] Max-Serra commented on #48
Hi all,

What a concidence...I was just working with the plug in mentioned above in conjunction with Coordinator facing the same problem, that I have seen this thread discussion.

The pipeline plug-in, which is indeed a set of plug-ins, is included by default starting from jenkins 2.x. I found the issue just creating a simple pipeline job in jenkins 2.7.4, raising the following exception:

WARNING

[2017-03-29 08:40] mchave commented on #48
@philmadden83 we're running Jenkins ver. 2.32.3

@ace-han They're configured as pipeline jobs (formerly called workflows) which are running gradle and artifactory from SVN. Just triggering them manually at the moment in the coordinator, though the jobs themselves would trigger if there was a change in the source SVNs.

- I've configured the coordinator with 2 parameters.
- One pipeline job is conf

[2017-03-29 08:58] Max-Serra commented on #48
Just further details. The exception trace above is related to the build execution time, not while adding such pipeline (but classified as Workflow) job in the Configuration phase. The trial Coordinator job I created was without any parameter, in fact just to check if it was able to work and to trigger that type of jobs (previously used Coordinator only with Freestyle Jobs).

Cheers

[2017-03-29 22:04] philmadden83 commented on #48
I've take a look into this. The initial problem is that the WorkflowJob class is not a type of AbstratProject. I have altered the codebase to work with the common interfaces of AbstractProject and WorkflowJob.

However. There also seems to be a further problem where by cglib cannot generate a class of type WorkflowJob as the class is marked final (https://github.com/jenkinsci/workflow-job-plugin/b

[2017-04-05 15:54] ace-han commented on #48
@mchave Have you tried @philmadden83 's branch?
I will merge it if the branch is working for your case
Sorry for being late to respond to this thread.😅

[2017-04-06 08:37] Max-Serra commented on #48
Hi @ace-han and @philmadden83,

In order to check if the fix is working, is it only needed to checkout the related branch for Coordinator project or is it required as well to update anything at he WorkflowJob/Pipeline side?

[2017-04-06 16:34] ace-han commented on #48
@Max-Serra I think the fix should fix the issue as it says `Fails when using jenkins built in pipeline jobs`.
So, it should at least get along with `pipeline` (It's okay to be triggered by pipeline job)

[2017-04-07 12:30] Max-Serra commented on #48
@ace-han My question was due to the philmadden83's comment "I'll create a fork of the workflow plugin and remove the final modifier. Hopefully they will accept.". By your comment it seems that workaround was no longer needed, so the fix is applied only to  Coordinator code...right?

[2017-04-08 15:00] ace-han commented on #48
@philmadden83 Okay, I've got your intention. It's not a good pattern to expect or force other plugin making changes to get around our problem.
However, if they accept your pull request then every one is happy 😃
(btw, is the PR still not made? 'cuz I can't find it)

@Max-Serra @mchave I think that `pipeline` type jobs being configured within `coordinator-plugin` is `unnecessary`.
Because, by defini

[2017-04-08 18:14] Max-Serra commented on #48
@ace-han It's true that pipeline plug-in can trigger even jobs, but the big difference against Coordinator is the approach and the usage. Coordinator can allow the creation of Execution plans by non Jenkins experts and especially non programmers and this is its peculiarity. Pipeline requires much more expertise to be used and in particular since a plan can be designed programmatically, to enable/d

[2017-04-12 14:04] Max-Serra commented on #48
@philmadden83 Hi again. Is the only modification needed on WorkflowJob class, the removal of the final access modifier? If the answer is yes, we could fetch the source code from the related Github repo and build a snapshot version to try out the fix.

[2017-04-13 00:28] philmadden83 commented on #48
Yes. I believe that to be the outstanding issue here.

[2017-05-11 01:47] ace-han commented on #48
Hi, @philmadden83
How is the alternative approach going? Anything I could help with?

[2017-07-24 16:41] Max-Serra opened #49 "Annoying Error message: "Server Side Error. Please Checkout..." on Jenkins Windows version."
Hi Guys,

I'm back with a not serious but annoying bug. See the image below:
![serversideerrorjenkinswindows](https://user-images.githubusercontent.com/16347984/28533715-6a46933c-709e-11e7-87e9-efeca4ecaed4.jpg)

I think I isolated the problem. I have seen it on Jenkins version starting from 2.59 and upper and on Windows.
The exception is:
`....PM org.jenkinsci.plugins.coordinator.model.Coordinato

[2017-08-29 09:51] Max-Serra commented on #49
Hi Guys,

Any update on this?

Max

[2017-10-12 04:53] jiinoksoo opened #50 "Build coordinator job with option "Build after other projects are built""
Hi,

I have configured coordinator job to be started after another job is ready. Coordinator job always fails with this method. If I run same coordinator job periodically everything works fine. What could be the problem?

ERROR: Build step failed with exception
java.lang.NullPointerException
	at org.jenkinsci.plugins.coordinator.model.PerformExecutor.prepareExecutionPlan(PerformExecutor.java:137)

[2018-06-08 02:40] humaruis commented on #48
Hi @ace-han & @philmadden83
Any update on this?

[2018-12-11 15:02] s3r3n3-1 opened #51 "java.lang.AssertionError: class org.jenkinsci.plugins.coordinator.model.CoordinatorProject$2 is missing its descriptor at jenkins.model.Jenkins.getDescriptorOrDie(Jenkins.java:1538)"
Getting this Getting this exception constantly when trying to configure the plugin. Have reinstalled and restarted Jenkins several times and this plugin is now unusable.

[2021-06-26 02:40] jbrunett opened #53 "Jenkins version 2.289.4 issue with Coordination Plugin"
Using the Coordinator plugin in version Jenkins 2.289.4 when selecting the Build Now option the Build Execution Plan tab basically overlays the left side page options. The more options the harder to read the tab. Trying to determine if this issue is related to The Table to Div layout migration implemented in version 2.277.1.  Any help or insight would be appreciated.

![image](https://user-images.

[2021-07-09 18:14] jbrunett commented on #53
that is version 2.289.1.

[2021-07-09 23:15] jbrunett commented on #53
I was able to determine that everything after 2.237 version causes display issues in the coordinator plugin.  Not sure of functionality as the display issue makes the plugin hard to use.

[2022-02-09 05:39] sakthi-dp2 commented on #53
Thanks for update.
Coordinator Plugin issue still not fixed?
We cant use other plugins like Testlog analyzer NGTestresults plugins if we get stuck at 2.237, any suggestions would be appreciated. Thanks in anticipation!

[2022-04-06 15:12] Pietro28 commented on #53
Hi, I experienced the same issue with Jenkins 2.319.1. Is there any plan to fix this incompatibility?
Thanks in advance!

[2022-04-07 01:50] sakthi-dp2 commented on #53
Hi,
I am awaiting for this problem to be fixed, Unsure about the probability of fix.
Have you raised a defect ? I have nt do it so

[2022-04-07 01:59] sakthi-dp2 opened #54 "Jenkins Coordinator Plugin does not work for Build with parameters option"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

<img width="960" alt="Jenkins_Coordinator_Plugin_Problem" src="https://user-images.githubusercontent.com/53250647/162104602-ce9a5464-ab19-4d92-8ad3-3db5bc65ca98.png">

### Reproduction steps

1.I